<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
            {% load socialaccount %}
                <li><a href="{% url 'edit_profile' %}">Edit Profile</a></li>
                <li><a href="{% url 'friends_list' %}">Friend List</a></li>
                <li><a href="{% url 'account_logout' %}" class="btn btn-primary">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2024 My Site</p>
    </footer>
</body>
</html>