{% extends "users/base.html" %}

{% block content %}
<h2>Users You Can Invite</h2>
<ul>
    {% for user in users %}
        <li>
            {{ user.email }}
            <form method="post" action="{% url 'friends_add' %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit">Add</button>
            </form>
        </li>
    {% empty %}
        <p>No users available to invite.</p>
    {% endfor %}
</ul>
{% endblock %}